[init]
	defaultBranch = main
[user]
	email = assmann@hey.com
	name = Carl Assmann
[core]
    pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
